<html>
    <head>
        <title>EcGate</title>
    </head>
    <body>
        <div>
            <h1><a href="">EcGate</a></h1>
        </div>

        <div>
            <p>published: 18.02.2016, 11:06AM</p>
            <h2><a href="">My first post</a></h2>
            <p>Hello everyone. This is my first post.</p>
        </div>

        <div>
            <p>published: 18.02.2016, 11:06AM</p>
            <h2><a href="">My second post</a></h2>
            <p>Second post?? not yet prepared</p>
        </div>
    </body>
</html>